---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% assign type_order = "preprint,conference and journal,workshop" | split: "," %}
{% for type_name in type_order %}
{% assign type_pubs = site.publications | where: "type", type_name | sort: "date" | reverse %}
{% if type_pubs.size > 0 %}
<h2 class="archive__subtitle">{{ type_name | capitalize }}</h2>
{% for post in type_pubs %}
{% include archive-single.html %}
{% endfor %}
{% endif %}
{% endfor %}
